@font-face {
  font-family: "Komika Axis";
  font-variant: normal;
  font-weight: normal;
  src: url("../../../../public/KOMIKAX_.ttf") format("truetype");
}
.fil4 {fill:#212A4F}
.fil3 {fill:white;fill-rule:nonzero}
.fil0 {fill:url(#id0)}
.fil1 {fill:url(#id1)}
.fil2 {fill:url(#id2)}
.fnt0 {font-weight:normal;font-size:1757.51px;font-family:'Komika Axis'}
.fnt1 {font-weight:normal;font-size:5018.86px;font-family:'Komika Axis'}